.paypal-button {
  height: auto;
  width: 20%;
}
.work-page {
  text-align: center;
}
.me-auto {
  white-space: nowrap;
}
#records {
  text-align: center;
  display: inline;
  float: middle;
  margin: auto;
}
.supporters {
  text-align: center;
  background-color: rgb(255, 155, 155);
  color: rgb(0, 0, 0);
  margin-top: 8vh;
}
.list-group {
  text-align: center;
  background-color: rgb(255, 0, 0);
  color: rgb(0, 0, 0);
}
#title {
  text-align: left;
  color:rgb(255, 0, 0)
}
.navbar-title {
  font-size: 5vh;
  color:rgb(0, 0, 0);
  font-style: bold;
}
.row {
  float: middle;
}
.top-logos {
  text-align: center;
  margin-top: 5vh;
  margin-left: 27vw;
}
#twitch {
  height: 7vh;
}
.ivans {
  display: inline-block;
}
.kroger-pic {
  display: block;
  margin-left: 33vw;
  margin-right: auto;
  width: 100%;
}
.hat {
  height: 30%;
  width: 30%;
  margin-left: 35vw;
}
.merchcard {
  display: flex;
  justify-content: center;
  position: relative;
}
.card {
  font-size: 5rem;
  margin-top: 7vh;
  background-color: rgb(255, 0, 0);
  color:sandybrown;
}
.add-to {
  margin-top: 7vh;
}
.reviews {
  display: flex;
  justify-content: center;
  position: relative;
}
.btn {
  text-align: center;
}
.cart-list {
  display: flex;
  justify-content: center;
  position: relative;
  font-size: 5rem;
  margin-top: 7vh;
  color:sandybrown;
}
.merch-name {
  text-align: center;
}
.merch-price {
  text-align: center;
}
.login-here {
  text-align: center;
  margin-top: 15vh;
  height: 150%;
}
.new-merch {
  text-align: center;
  margin-top: 15vh;
  height: 150%;
}