.App {
  background-color: rgb(162, 162, 162);
}
.work-page {
  color: rgb(108, 0, 0);
  font-weight: bolder
}
.paypal-button {
  height: auto;
  width: 20%;
}
#bag {
  max-height: 5%;
  width: 10%;
}
.work-page {
  text-align: center;
}
.me-auto {
  white-space: nowrap;
}
#records {
  text-align: center;
  display: inline;
  float: middle;
  margin: auto;
  margin-left: 10%;
  margin-right: 10%;
}
.supporters {
  text-align: center;
  background-color: rgb(255, 155, 155);
  color: rgb(0, 0, 0);
  margin-top: 8vh;
  margin-left: 25%;
  margin-right: 25%;
}
.list-group {
  text-align: center;
  background-color: rgb(255, 0, 0);
  color: rgb(0, 0, 0);
}
.supporter-text {
  background-color: orange;
}
#title {
  text-align: left;
  color:rgb(255, 0, 0)
}
.navbar-title {
  font-size: 5vh;
  color:rgb(0, 0, 0);
  font-style: bold;
}
.row {
  float: middle;
}
.top-logos {
  text-align: center;
  margin-top: 5vh;
  margin-left: 27vw;
  height: 100%;
  width: 100%;
}
.ivans {
  display: inline-block;
}
.kroger-pic {
  display: block;
  margin-left: 33vw;
  margin-right: auto;
  width: 100%;
}
.merch-images {
  margin-left: 5%;
  margin-right: 5%;
  border-radius: 30%;
}
.merchcard {
  display: flex;
  justify-content: center;
  position: relative;
  border-radius: 50%;
 }
.card {
  font-size: 5rem;
  margin-top: 7vh;
  color:sandybrown;
  margin-left: 24%;
  margin-right: 24%;
}
.add-to {
  margin-top: 7vh;
}
.reviews {
  display: flex;
  justify-content: center;
  position: relative;
  color: rgba(0, 0, 0, 0.517);
  font-weight: bolder;
  size: 5vh;
}
.btn {
  text-align: center;
}
.cart-list {
  display: flex;
  justify-content: center;
  position: relative;
  font-size: 5rem;
  margin-top: 7vh;
  color:sandybrown;
}
.merch-name {
  text-align: center;
}
.merch-price {
  text-align: center;
}
.login-here {
  text-align: center;
  margin-top: 15vh;
  height: 150%;
}
.new-merch {
  text-align: center;
  margin-top: 15vh;
  height: 150%;
}
.paypal {
  text-align: center;
}
#reviews {
  text-align: center;
}
.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column; 
  justify-content: center;
  width: 100%;
  min-height: 100%;
  padding: 20px;
}
#formContent {
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  background: #fff;
  padding: 30px;
  width: 90%;
  max-width: 450px;
  position: relative;
  padding: 0px;
  -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  text-align: center;
}
input[type=button], input[type=submit], input[type=reset]  {
  background-color: #56baed;
  border: none;
  color: white;
  padding: 15px 80px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  font-size: 13px;
  -webkit-box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
  box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  margin: 5px 20px 40px 20px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover  {
  background-color: #39ace7;
}

input[type=button]:active, input[type=submit]:active, input[type=reset]:active  {
  -moz-transform: scale(0.95);
  -webkit-transform: scale(0.95);
  -o-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transform: scale(0.95);
}

input[type=text] {
  background-color: #f6f6f6;
  border: none;
  color: #0d0d0d;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px;
  width: 85%;
  border: 2px solid #f6f6f6;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}

input[type=text]:focus {
  background-color: #fff;
  border-bottom: 2px solid #5fbae9;
}

input[type=text]:placeholder {
  color: #cccccc;
}
#snap {
  height: 10%;
  width: 10%;
}
#twitter {
  height: 5vh;
  width: 10%;
}